# Aula 4 - Pandas

Prof. Tiago Dias

[Linkedin](https://www.linkedin.com/in/diasctiago/) | [Github](https://github.com/diasctiago) | [Blog](https://www.dadosaocubo.com/)

## Conhecendo o pandas

[Documentação pandas](https://pandas.pydata.org/docs/user_guide/index.html)

### O que é um DataFrame?

DataFrame, é a representação de uma tabela na biblioteca pandas.

| ![DataFrame](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg) |
|:--:| 
| _DataFrame_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

### O que é uma Series?

Uma Series, é a representação de cada coluna de uma tabela individual.

| ![Series](https://pandas.pydata.org/docs/_images/01_table_series.svg) |
|:--:| 
| _Series_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

### Que tipos de dados posso trabalhar no pandas?

É possível ler e gravar dados e diversas fontes com o pandas.

| ![Tipos de Dados](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg) |
|:--:| 
| _Tipos de Dados_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

### Prática com o pandas

In [ ]:
# Instalação da biblioteca se necessário
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
# importando a biblioteca
import pandas as pd

In [ ]:
# leitura de arquivo csv
df_csv = pd.read_csv('https://raw.githubusercontent.com/diasctiago/pandas/main/leads.csv')

In [ ]:
df_csv.head()

     id              data  UF          estado          cidade status    origem
0  1001  16/08/2022 13:19  BA           Bahia        Salvador   lead  Facebook
1  1002  16/08/2022 11:05  BA           Bahia        Salvador   lead  Facebook
2  1003  16/08/2022 10:33  RJ  Rio de Janeiro  Rio de Janeiro   lead  Facebook
3  1004  16/08/2022 09:33  BA           Bahia        Salvador   lead  Facebook
4  1005  16/08/2022 08:56  SP       São Paulo       São Paulo   lead      Blog

In [ ]:
# leitura de arquivo txt
df_txt = pd.read_csv('https://raw.githubusercontent.com/diasctiago/pandas/main/leads.txt',
                     delimiter='|')

In [ ]:
df_txt.head()

     id              data  UF          estado          cidade status    origem
0  1001  16/08/2022 13:19  BA           Bahia        Salvador   lead  Facebook
1  1002  16/08/2022 11:05  BA           Bahia        Salvador   lead  Facebook
2  1003  16/08/2022 10:33  RJ  Rio de Janeiro  Rio de Janeiro   lead  Facebook
3  1004  16/08/2022 09:33  BA           Bahia        Salvador   lead  Facebook
4  1005  16/08/2022 08:56  SP       São Paulo       São Paulo   lead      Blog

In [ ]:
# leitura de arquivo excel
df_excel = pd.read_excel('https://github.com/diasctiago/pandas/blob/main/leads.xlsx?raw=true')

In [ ]:
df_excel.head()

,id,data,UF,estado,cidade,status,origem
0,1001,2022-08-16 13:19:00,BA,Bahia,Salvador,lead,Facebook
1,1002,2022-08-16 11:05:00,BA,Bahia,Salvador,lead,Facebook
2,1003,2022-08-16 10:33:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Facebook
3,1004,2022-08-16 09:33:00,BA,Bahia,Salvador,lead,Facebook
4,1005,2022-08-16 08:56:00,SP,São Paulo,São Paulo,lead,Blog

In [ ]:
# leitura de arquivo json
df_json = pd.read_json('https://raw.githubusercontent.com/diasctiago/pandas/main/leads.json')

In [ ]:
df_json.head()

,id,data,endereço,status,origem
0,1001,16/08/2022 13:19,"{'UF': 'BA', 'estado': 'Bahia', 'cidade': 'Sal...",lead,Facebook
1,1002,16/08/2022 11:05,"{'UF': 'BA', 'estado': 'Bahia', 'cidade': 'Sal...",lead,Facebook
2,1003,16/08/2022 10:33,"{'UF': 'RJ', 'estado': 'Rio de Janeiro', 'cida...",lead,Facebook

In [ ]:
!pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)

In [ ]:
# normalizando os dados de um json
import json
from urllib import request

with request.urlopen('https://raw.githubusercontent.com/diasctiago/pandas/main/leads.json') as arquivo:
  dados_json = json.load(arquivo)

In [ ]:
df_json_norma = pd.json_normalize(dados_json)

In [ ]:
df_json_norma.head()

,id,data,status,origem,endereço.UF,endereço.estado,endereço.cidade
0,1001,16/08/2022 13:19,lead,Facebook,BA,Bahia,Salvador
1,1002,16/08/2022 11:05,lead,Facebook,BA,Bahia,Salvador
2,1003,16/08/2022 10:33,lead,Facebook,RJ,Rio de Janeiro,Rio de Janeiro

In [ ]:
# lendo um arquivo csv a partir da base de dados gov.br
df = pd.read_csv('http://dados.agricultura.gov.br/dataset/420c0514-92da-4888-be85-290a0785e8a9/resource/65cce855-685e-4cfa-b3a4-2d192fc83b4e/download/rfflorestasplantadasibge2014-2016.csv',
                 encoding='Windows 1252',
                 delimiter=';')

In [ ]:
# verificando as primeiras linhas do arquivo
df.head()

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0

In [ ]:
# verificando as última linhas do arquivo
df.tail()

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
31009,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,1000.0
31010,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,700.0
31011,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31012,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31013,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0

In [ ]:
# verificando os nomes das colunas carregadas
df.columns

Index(['Ano (data)', 'País', 'Região', 'Estado', 'Estado sigla',
       'Município (Municípios)', 'Município Estado', 'Latitude', 'Longitude',
       'Espécie florestal', 'Área (ha)'],
      dtype='object')

In [ ]:
# verificando o indice
df.index

RangeIndex(start=0, stop=31014, step=1)

In [ ]:
# tipo da variável
type(df)

pandas.core.frame.DataFrame

In [ ]:
# verificado as informações dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31014 entries, 0 to 31013
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Ano (data)              31014 non-null  object
 1   País                    31014 non-null  object
 2   Região                  31014 non-null  object
 3   Estado                  31014 non-null  object
 4   Estado sigla            31014 non-null  object
 5   Município (Municípios)  31014 non-null  object
 6   Município Estado        31014 non-null  object
 7   Latitude                31014 non-null  object
 8   Longitude               31014 non-null  object
 9   Espécie florestal       31014 non-null  object
 10  Área (ha)               29658 non-null  float64
dtypes: float64(1), object(10)
memory usage: 2.6+ MB

In [ ]:
# quantidadede linhas e colunas
df.shape

(31014, 11)

Como selecionar colunas específicas do DataFrame.

| ![Colunas dos Dados](https://pandas.pydata.org/docs/_images/03_subset_columns.svg) |
|:--:| 
| _Colunas dos Dados_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
df[['Ano (data)','Área (ha)']]

       Ano (data)  Área (ha)
0      31/12/2014        0.0
1      31/12/2015        0.0
2      31/12/2016        0.0
3      31/12/2014        0.0
4      31/12/2015        0.0
...           ...        ...
31009  31/12/2015     1000.0
31010  31/12/2016      700.0
31011  31/12/2014        0.0
31012  31/12/2015        0.0
31013  31/12/2016        0.0

[31014 rows x 2 columns]

Como selecionar linhas específicas do DataFrame.

| ![Linhas dos Dados](https://pandas.pydata.org/docs/_images/03_subset_rows.svg) |
|:--:| 
| _Linhas dos Dados_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
df['Área (ha)']>200000

0        False
1        False
2        False
3        False
4        False
         ...
31009    False
31010    False
31011    False
31012    False
31013    False
Name: Área (ha), Length: 31014, dtype: bool

In [ ]:
df[df['Área (ha)']>200000]

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
28460,31/12/2016,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Ribas do Rio Pardo,Ribas do Rio Pardo (MS),"-20,6","-53,54",Eucalipto,205000.0
28576,31/12/2015,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Três Lagoas,Três Lagoas (MS),"-20,44","-52,21",Eucalipto,217600.0
28577,31/12/2016,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Três Lagoas,Três Lagoas (MS),"-20,44","-52,21",Eucalipto,230000.0

In [ ]:
df['Estado sigla'] == 'MS'

0        False
1        False
2        False
3        False
4        False
         ...
31009    False
31010    False
31011    False
31012    False
31013    False
Name: Estado sigla, Length: 31014, dtype: bool

In [ ]:
df[df['Estado sigla'] == 'MS']

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
27909,31/12/2014,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Água Clara,Água Clara (MS),"-19,78","-52,99",Eucalipto,118000.0
27910,31/12/2015,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Água Clara,Água Clara (MS),"-19,78","-52,99",Eucalipto,120000.0
27911,31/12/2016,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Água Clara,Água Clara (MS),"-19,78","-52,99",Eucalipto,125000.0
27912,31/12/2014,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Água Clara,Água Clara (MS),"-19,78","-52,99",Pinus,500.0
27913,31/12/2015,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Água Clara,Água Clara (MS),"-19,78","-52,99",Pinus,400.0
...,...,...,...,...,...,...,...,...,...,...,...
28588,31/12/2015,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Vicentina,Vicentina (MS),"-22,47","-54,42",Pinus,0.0
28589,31/12/2016,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Vicentina,Vicentina (MS),"-22,47","-54,42",Pinus,0.0
28590,31/12/2014,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Vicentina,Vicentina (MS),"-22,47","-54,42",Outras espécies,0.0
28591,31/12/2015,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Vicentina,Vicentina (MS),"-22,47","-54,42",Outras espécies,0.0
28592,31/12/2016,Brasil,Centro Oeste,Mato Grosso do Sul,MS,Vicentina,Vicentina (MS),"-22,47","-54,42",Outras espécies,0.0

In [ ]:
# verificando um indice específico
df.loc[31013]

Ano (data)                      31/12/2016
País                                Brasil
Região                        Centro Oeste
Estado                    Distrito Federal
Estado sigla                            DF
Município (Municípios)            Brasília
Município Estado             Brasília (DF)
Latitude                            -15,78
Longitude                            -47,8
Espécie florestal          Outras espécies
Área (ha)                              0.0
Name: 31013, dtype: object

In [ ]:
# verificando colunas nulas
df.isnull().sum()

Ano (data)                   0
País                         0
Região                       0
Estado                       0
Estado sigla                 0
Município (Municípios)       0
Município Estado             0
Latitude                     0
Longitude                    0
Espécie florestal            0
Área (ha)                 1356
dtype: int64

In [ ]:
df[df['Área (ha)'].isnull()]

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
263,31/12/2016,Brasil,Norte,Roraima,RR,Alto Alegre,Alto Alegre (RR),"3,078257154","-62,76",Eucalipto,NaN
266,31/12/2016,Brasil,Norte,Roraima,RR,Alto Alegre,Alto Alegre (RR),"3,078257154","-62,76",Pinus,NaN
269,31/12/2016,Brasil,Norte,Roraima,RR,Alto Alegre,Alto Alegre (RR),"3,078257154","-62,76",Outras espécies,NaN
272,31/12/2016,Brasil,Norte,Roraima,RR,Boa Vista,Boa Vista (RR),"3,117914945","-60,72",Eucalipto,NaN
275,31/12/2016,Brasil,Norte,Roraima,RR,Boa Vista,Boa Vista (RR),"3,117914945","-60,72",Pinus,NaN
...,...,...,...,...,...,...,...,...,...,...,...
30952,31/12/2015,Brasil,Centro Oeste,Goiás,GO,Uruana,Uruana (GO),"-15,58","-49,64",Eucalipto,NaN
30954,31/12/2014,Brasil,Centro Oeste,Goiás,GO,Uruana,Uruana (GO),"-15,58","-49,64",Pinus,NaN
30955,31/12/2015,Brasil,Centro Oeste,Goiás,GO,Uruana,Uruana (GO),"-15,58","-49,64",Pinus,NaN
30957,31/12/2014,Brasil,Centro Oeste,Goiás,GO,Uruana,Uruana (GO),"-15,58","-49,64",Outras espécies,NaN
30958,31/12/2015,Brasil,Centro Oeste,Goiás,GO,Uruana,Uruana (GO),"-15,58","-49,64",Outras espécies,NaN

Como filtrar colunas e linhas específicas do DataFrame.

| ![Filtrando os Dados](https://pandas.pydata.org/docs/_images/03_subset_columns_rows.svg) |
|:--:| 
| _Filtrando os Dados_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
df.loc[df['Área (ha)']>200000, 'Estado sigla']

28460    MS
28576    MS
28577    MS
Name: Estado sigla, dtype: object

In [ ]:
df[df['Área (ha)']>200000][['País','Região','Estado sigla','Área (ha)']]

         País        Região Estado sigla  Área (ha)
28460  Brasil  Centro Oeste           MS   205000.0
28576  Brasil  Centro Oeste           MS   217600.0
28577  Brasil  Centro Oeste           MS   230000.0

Como criar novas colunas no DataFrame.

| ![Novas Colunas](https://pandas.pydata.org/docs/_images/05_newcolumn_1.svg) |
|:--:| 
| _Novas Colunas_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
df['Nova Coluna'] = df['Área (ha)'] * 100

In [ ]:
df.head()

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha),Nova Coluna
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,0.0
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,0.0

In [ ]:
# verificando a nova coluna criada
df[df['Área (ha)']>200000][['País','Região','Estado sigla','Área (ha)','Nova Coluna']]

         País        Região Estado sigla  Área (ha)  Nova Coluna
28460  Brasil  Centro Oeste           MS   205000.0   20500000.0
28576  Brasil  Centro Oeste           MS   217600.0   21760000.0
28577  Brasil  Centro Oeste           MS   230000.0   23000000.0

In [ ]:
df['Nivel'] = ['Alto' if x > 200000 else 'Baixo' for x in df['Área (ha)']]

In [ ]:
df[df['Área (ha)']>170000][['País','Região','Estado sigla','Área (ha)','Nivel']]

         País        Região Estado sigla  Área (ha)  Nivel
622    Brasil         Norte           AP   172420.0  Baixo
623    Brasil         Norte           AP   174420.0  Baixo
28458  Brasil  Centro Oeste           MS   175000.0  Baixo
28459  Brasil  Centro Oeste           MS   196000.0  Baixo
28460  Brasil  Centro Oeste           MS   205000.0   Alto
28575  Brasil  Centro Oeste           MS   200000.0  Baixo
28576  Brasil  Centro Oeste           MS   217600.0   Alto
28577  Brasil  Centro Oeste           MS   230000.0   Alto

In [ ]:
# principais medidas estatisticas para as variáveis numéricas
df.describe()

           Área (ha)   Nova Coluna
count   29658.000000  2.965800e+04
mean      988.865197  9.888652e+04
std      5477.579430  5.477579e+05
min         0.000000  0.000000e+00
25%         0.000000  0.000000e+00
50%         0.000000  0.000000e+00
75%       242.000000  2.420000e+04
max    230000.000000  2.300000e+07

In [ ]:
# calculando as medidas de agregação

In [ ]:
# media
round(df['Área (ha)'].mean(), 3)

988.865

In [ ]:
# mediana
df['Área (ha)'].median()

0.0

In [ ]:
# soma
df['Área (ha)'].sum()

29327764.0

Como criar medidas agregadas agrupando por categoria no DataFrame.

| ![Group by](https://pandas.pydata.org/docs/_images/06_groupby.svg) |
|:--:| 
| _Group by_ (Fonte da imagem: [Pandas](https://pandas.pydata.org/)) |

In [ ]:
# media por estado
df[['Estado sigla','Área (ha)']]

      Estado sigla  Área (ha)
0               RO        0.0
1               RO        0.0
2               RO        0.0
3               RO        0.0
4               RO        0.0
...            ...        ...
31009           DF     1000.0
31010           DF      700.0
31011           DF        0.0
31012           DF        0.0
31013           DF        0.0

[31014 rows x 2 columns]

In [ ]:
df[['Estado sigla','Área (ha)']].groupby('Estado sigla').mean()

                 Área (ha)
Estado sigla
AL               90.702899
AP            10622.244444
BA             2406.675000
CE                7.956522
DF             1224.222222
ES             1166.813390
GO              312.309201
MA             1581.435185
MG              792.108674
MS             4191.767857
MT              882.268987
PA             3166.395833
PB              311.280702
PE              130.777778
PI              521.699531
PR             1397.621745
RJ              166.957227
RN                5.329502
RO              216.337165
RR             2038.176471
RS              760.131609
SC             1165.070498
SE               56.982759
SP              739.054348
TO              649.104455

In [ ]:
# soma por especie
df[['Espécie florestal','Área (ha)']].groupby('Espécie florestal').sum()

                    Área (ha)
Espécie florestal
Eucalipto          21940841.0
Outras espécies     1192967.0
Pinus               6193956.0

In [ ]:
# contando os registros por categoria
df.groupby('Região')['Região'].count()

Região
Centro Oeste     3105
Nordeste         2727
Norte            1413
Sudeste         13203
Sul             10566
Name: Região, dtype: int64

In [ ]:
df['Região'].value_counts(ascending=True)

Norte            1413
Nordeste         2727
Centro Oeste     3105
Sul             10566
Sudeste         13203
Name: Região, dtype: int64

In [ ]:
df['Espécie florestal'].value_counts()

Eucalipto          10338
Pinus              10338
Outras espécies    10338
Name: Espécie florestal, dtype: int64

In [ ]:
# verificando a quantidade de registros de todas as colunas
for col in df.columns:
  print(f'\n### {col} ###')
  print(df[col].value_counts())

### Ano (data) ###
31/12/2014    10338
31/12/2015    10338
31/12/2016    10338
Name: Ano (data), dtype: int64

### País ###
Brasil    31014
Name: País, dtype: int64

### Região ###
Sudeste         13203
Sul             10566
Centro Oeste     3105
Nordeste         2727
Norte            1413
Name: Região, dtype: int64

### Estado ###
Minas Gerais           7191
São Paulo              4617
Rio Grande do Sul      4419
Paraná                 3510
Santa Catarina         2637
Goiás                  1404
Mato Grosso            1008
Bahia                   945
Tocantins               756
Espírito Santo          702
Rio de Janeiro          693
Mato Grosso do Sul      684
Maranhão                495
Alagoas                 369
Rio Grande do Norte     261
Pará                    261
Rondônia                261
Piauí                   225
Sergipe                 189
Ceará                   135
Roraima                  90
Paraíba                  63
Pernambuco               45
Amapá                    45
Distrito Federal          9
Name: Estado, dtype: int64

### Estado sigla ###
MG    7191
SP    4617
RS    4419
PR    3510
SC    2637
GO    1404
MT    1008
BA     945
TO     756
ES     702
RJ     693
MS     684
MA     495
AL     369
RN     261
PA     261
RO     261
PI     225
SE     189
CE     135
RR      90
PB      63
PE      45
AP      45
DF       9
Name: Estado sigla, dtype: int64

### Município (Municípios) ###
Bom Jesus                 27
Boa Esperança             27
Alto Alegre               27
Cantagalo                 27
Planalto                  27
                          ..
São José do Mantimento     9
São Lourenço               9
São Miguel do Anta         9
São Pedro da União         9
Brasília                   9
Name: Município (Municípios), Length: 3352, dtype: int64

### Município Estado ###
Alta Floresta D'Oeste (RO)    9
Tapira (PR)                   9
Telêmaco Borba (PR)           9
Terra Boa (PR)                9
Terra Rica (PR)               9
                             ..
São José da Safira (MG)       9
São José da Varginha (MG)     9
São José do Alegre (MG)       9
São José do Divino (MG)       9
Brasília (DF)                 9
Name: Município Estado, Length: 3446, dtype: int64

### Latitude ###
-20,37    81
-21,73    81
-21,26    81
-20,08    72
-21,45    72
          ..
-18,94     9
-18,62     9
-18,41     9
-20,36     9
-15,78     9
Name: Latitude, Length: 1742, dtype: int64

### Longitude ###
-48,65    90
-53,59    72
-49,07    72
-51,22    72
-51,78    72
          ..
-43,49     9
-44,34     9
-43,14     9
-43,88     9
-48,81     9
Name: Longitude, Length: 1543, dtype: int64

### Espécie florestal ###
Eucalipto          10338
Pinus              10338
Outras espécies    10338
Name: Espécie florestal, dtype: int64

### Área (ha) ###
0.0        15547
10.0         295
100.0        264
300.0        253
200.0        241
           ...
3154.0         1
12973.0        1
12227.0        1
1092.0         1
48500.0        1
Name: Área (ha), Length: 2059, dtype: int64

### Nova Coluna ###
0.0          15547
1000.0         295
10000.0        264
30000.0        253
20000.0        241
             ...
315400.0         1
1297300.0        1
1222700.0        1
109200.0         1
4850000.0        1
Name: Nova Coluna, Length: 2059, dtype: int64

### Nivel ###
Baixo    31011
Alto         3
Name: Nivel, dtype: int64

In [ ]:
# buscando registros por string
df[df['Município (Municípios)'].str.contains('Salvador')]

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha),Nova Coluna,Nivel
1305,31/12/2014,Brasil,Norte,Tocantins,TO,São Salvador do Tocantins,São Salvador do Tocantins (TO),"-12,58","-48,37",Eucalipto,40.0,4000.0,Baixo
1306,31/12/2015,Brasil,Norte,Tocantins,TO,São Salvador do Tocantins,São Salvador do Tocantins (TO),"-12,58","-48,37",Eucalipto,40.0,4000.0,Baixo
1307,31/12/2016,Brasil,Norte,Tocantins,TO,São Salvador do Tocantins,São Salvador do Tocantins (TO),"-12,58","-48,37",Eucalipto,40.0,4000.0,Baixo
1308,31/12/2014,Brasil,Norte,Tocantins,TO,São Salvador do Tocantins,São Salvador do Tocantins (TO),"-12,58","-48,37",Pinus,0.0,0.0,Baixo
1309,31/12/2015,Brasil,Norte,Tocantins,TO,São Salvador do Tocantins,São Salvador do Tocantins (TO),"-12,58","-48,37",Pinus,0.0,0.0,Baixo
1310,31/12/2016,Brasil,Norte,Tocantins,TO,São Salvador do Tocantins,São Salvador do Tocantins (TO),"-12,58","-48,37",Pinus,0.0,0.0,Baixo
1311,31/12/2014,Brasil,Norte,Tocantins,TO,São Salvador do Tocantins,São Salvador do Tocantins (TO),"-12,58","-48,37",Outras espécies,0.0,0.0,Baixo
1312,31/12/2015,Brasil,Norte,Tocantins,TO,São Salvador do Tocantins,São Salvador do Tocantins (TO),"-12,58","-48,37",Outras espécies,0.0,0.0,Baixo
1313,31/12/2016,Brasil,Norte,Tocantins,TO,São Salvador do Tocantins,São Salvador do Tocantins (TO),"-12,58","-48,37",Outras espécies,0.0,0.0,Baixo
26658,31/12/2014,Brasil,Sul,Rio Grande do Sul,RS,Salvador das Missões,Salvador das Missões (RS),"-28,1","-54,83",Eucalipto,60.0,6000.0,Baixo
26659,31/12/2015,Brasil,Sul,Rio Grande do Sul,RS,Salvador das Missões,Salvador das Missões (RS),"-28,1","-54,83",Eucalipto,65.0,6500.0,Baixo
26660,31/12/2016,Brasil,Sul,Rio Grande do Sul,RS,Salvador das Missões,Salvador das Missões (RS),"-28,1","-54,83",Eucalipto,68.0,6800.0,Baixo
26661,31/12/2014,Brasil,Sul,Rio Grande do Sul,RS,Salvador das Missões,Salvador das Missões (RS),"-28,1","-54,83",Pinus,0.0,0.0,Baixo
26662,31/12/2015,Brasil,Sul,Rio Grande do Sul,RS,Salvador das Missões,Salvador das Missões (RS),"-28,1","-54,83",Pinus,0.0,0.0,Baixo
26663,31/12/2016,Brasil,Sul,Rio Grande do Sul,RS,Salvador das Missões,Salvador das Missões (RS),"-28,1","-54,83",Pinus,0.0,0.0,Baixo
26664,31/12/2014,Brasil,Sul,Rio Grande do Sul,RS,Salvador das Missões,Salvador das Missões (RS),"-28,1","-54,83",Outras espécies,0.0,0.0,Baixo
26665,31/12/2015,Brasil,Sul,Rio Grande do Sul,RS,Salvador das Missões,Salvador das Missões (RS),"-28,1","-54,83",Outras espécies,0.0,0.0,Baixo
26666,31/12/2016,Brasil,Sul,Rio Grande do Sul,RS,Salvador das Missões,Salvador das Missões (RS),"-28,1","-54,83",Outras espécies,0.0,0.0,Baixo
26667,31/12/2014,Brasil,Sul,Rio Grande do Sul,RS,Salvador do Sul,Salvador do Sul (RS),"-29,46","-51,54",Eucalipto,890.0,89000.0,Baixo
26668,31/12/2015,Brasil,Sul,Rio Grande do Sul,RS,Salvador do Sul,Salvador do Sul (RS),"-29,46","-51,54",Eucalipto,889.0,88900.0,Baixo
26669,31/12/2016,Brasil,Sul,Rio Grande do Sul,RS,Salvador do Sul,Salvador do Sul (RS),"-29,46","-51,54",Eucalipto,885.0,88500.0,Baixo
26670,31/12/2014,Brasil,Sul,Rio Grande do Sul,RS,Salvador do Sul,Salvador do Sul (RS),"-29,46","-51,54",Pinus,0.0,0.0,Baixo
26671,31/12/2015,Brasil,Sul,Rio Grande do Sul,RS,Salvador do Sul,Salvador do Sul (RS),"-29,46","-51,54",Pinus,0.0,0.0,Baixo
26672,31/12/2016,Brasil,Sul,Rio Grande do Sul,RS,Salvador do Sul,Salvador do Sul (RS),"-29,46","-51,54",Pinus,0.0,0.0,Baixo
26673,31/12/2014,Brasil,Sul,Rio Grande do Sul,RS,Salvador do Sul,Salvador do Sul (RS),"-29,46","-51,54",Outras espécies,1450.0,145000.0,Baixo
26674,31/12/2015,Brasil,Sul,Rio Grande do Sul,RS,Salvador do Sul,Salvador do Sul (RS),"-29,46","-51,54",Outras espécies,1448.0,144800.0,Baixo
26675,31/12/2016,Brasil,Sul,Rio Grande do Sul,RS,Salvador do Sul,Salvador do Sul (RS),"-29,46","-51,54",Outras espécies,1442.0,144200.0,Baixo

In [ ]:
df[df['Município (Municípios)'].str.contains('Salvador')]['Município (Municípios)'].unique()

array(['São Salvador do Tocantins', 'Salvador das Missões',
       'Salvador do Sul'], dtype=object)

In [ ]:
type(df[df['Município (Municípios)'].str.contains('Salvador')]['Município (Municípios)'].unique())

numpy.ndarray

In [ ]:
# selecionando o primeiro nome de uma variavel do tipo string
df['Município (Municípios)'].str.split().str.get(0)

0            Alta
1            Alta
2            Alta
3            Alta
4            Alta
           ...
31009    Brasília
31010    Brasília
31011    Brasília
31012    Brasília
31013    Brasília
Name: Município (Municípios), Length: 31014, dtype: object

In [ ]:
# selecionando o valor distinto variavel do tipo string
df['Região'].unique()

array(['Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro Oeste'],
      dtype=object)

In [ ]:
df['Estado sigla'].unique()

array(['RO', 'RR', 'PA', 'AP', 'TO', 'MA', 'PI', 'CE', 'RN', 'PB', 'PE',
       'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC', 'RS', 'MS',
       'MT', 'GO', 'DF'], dtype=object)

In [ ]:
# removendo colunas do dataframe
df.drop(columns=['Nova Coluna', 'Nivel'], inplace=True)

In [ ]:
df.head()

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0

In [ ]:
# renomeando colunas do dataframe
df.rename(columns={
    'Ano (data)': 'ano_data',
    'Município (Municípios)': 'municipios'
}, inplace=True)

In [ ]:
df.head()

,ano_data,País,Região,Estado,Estado sigla,municipios,Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0

In [ ]:
# ordenando os dado do dataframe
df.sort_values('ano_data', inplace=True)

In [ ]:
df.head()

,ano_data,País,Região,Estado,Estado sigla,municipios,Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
12510,31/12/2014,Brasil,Sudeste,Rio de Janeiro,RJ,Rio das Ostras,Rio das Ostras (RJ),"-22,45","-41,95",Eucalipto,434.0
26841,31/12/2014,Brasil,Sul,Rio Grande do Sul,RS,Santo Antônio do Planalto,Santo Antônio do Planalto (RS),"-28,37","-52,68",Pinus,20.0
12513,31/12/2014,Brasil,Sudeste,Rio de Janeiro,RJ,Rio das Ostras,Rio das Ostras (RJ),"-22,45","-41,95",Pinus,0.0
12516,31/12/2014,Brasil,Sudeste,Rio de Janeiro,RJ,Rio das Ostras,Rio das Ostras (RJ),"-22,45","-41,95",Outras espécies,0.0

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

,ano_data,País,Região,Estado,Estado sigla,municipios,Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2014,Brasil,Sudeste,Rio de Janeiro,RJ,Rio das Ostras,Rio das Ostras (RJ),"-22,45","-41,95",Eucalipto,434.0
2,31/12/2014,Brasil,Sul,Rio Grande do Sul,RS,Santo Antônio do Planalto,Santo Antônio do Planalto (RS),"-28,37","-52,68",Pinus,20.0
3,31/12/2014,Brasil,Sudeste,Rio de Janeiro,RJ,Rio das Ostras,Rio das Ostras (RJ),"-22,45","-41,95",Pinus,0.0
4,31/12/2014,Brasil,Sudeste,Rio de Janeiro,RJ,Rio das Ostras,Rio das Ostras (RJ),"-22,45","-41,95",Outras espécies,0.0

In [ ]:
# gravando os dados em arquivo csv
df.to_csv('florestas.csv', index=False)

In [ ]:
# lendo um arquivo csv local
florestas = pd.read_csv('florestas.csv')

In [ ]:
florestas.head()

,ano_data,País,Região,Estado,Estado sigla,municipios,Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2014,Brasil,Sudeste,Rio de Janeiro,RJ,Rio das Ostras,Rio das Ostras (RJ),"-22,45","-41,95",Eucalipto,434.0
2,31/12/2014,Brasil,Sul,Rio Grande do Sul,RS,Santo Antônio do Planalto,Santo Antônio do Planalto (RS),"-28,37","-52,68",Pinus,20.0
3,31/12/2014,Brasil,Sudeste,Rio de Janeiro,RJ,Rio das Ostras,Rio das Ostras (RJ),"-22,45","-41,95",Pinus,0.0
4,31/12/2014,Brasil,Sudeste,Rio de Janeiro,RJ,Rio das Ostras,Rio das Ostras (RJ),"-22,45","-41,95",Outras espécies,0.0

### Outros Exemplos

In [ ]:
dados = pd.read_csv('https://raw.githubusercontent.com/dadosaocubo/nlp/master/base_mercadologica.csv')

In [ ]:
dados.head()

                                descricao            departamento
0  PASTA INT VITAPOWER 1,005KG AMEND/SHOT          MERCEARIA DOCE
1            ESPONJA BETTANIN BRILHUS C/1  CUIDADOS COM A COZINHA
2              AGUA MIN SCHIN S/GAS 500ML  BEBIDAS NÃO ALCOÓLICAS
3        FITA DUPLA FACE C/SUPORTE SCOTCH               PAPELARIA
4    MASSA PIZZA ROMANHA OREGANO PCT 160G          MASSAS FRESCAS

In [ ]:
dados['departamento'].value_counts()

MERCEARIA DOCE              3614
MERCEARIA SALGADA           2090
UTILIDADES DE COZINHA       1670
BEBIDAS ALCOÓLICAS          1366
CUIDADOS COM O CABELO       1257
BEBIDAS NÃO ALCOÓLICAS       698
CUIDADOS COM O CORPO         658
HORTIFRUTI                   642
CALÇADO                      607
DESCARTÁVEIS                 598
FRIOS                        493
CAMA, MESA E BANHO           453
CUIDADOS COM A CASA          449
LAVANDERIA                   448
AÇOUGUE                      420
PAPELARIA                    387
IOGURTES                     360
ELETRO                       356
PET SHOP                     343
HIGIENE PESSOAL              339
CONGELADOS DOCES             293
DECORAÇÃO                    288
CUIDADOS COM A ROUPA         278
HIGIENE ORAL                 277
CUIDADOS COM MÃOS E PÉS      272
HIGIENE PESSOAL INFANTIL     259
PADARIA                      253
AUTOMOTIVO                   247
MANUTENÇÃO                   242
CUIDADOS COM O BANHEIRO      201
CUIDADOS COM O ROSTO         188
JARDINAGEM                   173
LAZER/CAMPING                170
PRATOS PRONTOS               165
EMBUTIDOS                    164
GORDUROSOS                   160
BRINQUEDO                    150
CUIDADOS COM A COZINHA       138
CONGELADOS SALGADOS          125
MASSAS FRESCAS               108
INFANTIL                     105
PEIXARIA                      96
LEITE                         71
SALGADOS                      62
EMPÓRIO                       61
CUIDADOS COM A BARBA          60
TABACO                        51
UTILIDADES DE BANHEIRO        38
TEXTIL                        25
MALAS/NECESSAIRES             14
RESFRIADOS                    13
CUIDADOS COM OS OLHOS         10
SALGADO                        4
Name: departamento, dtype: int64

## Atividade

**Questão 1 -** Fazer a leitura dos dados da Sinaflor no link [Exploração de Floresta Plantada](https://dados.gov.br/dataset/sinaflor-exploracao-de-floresta-plantada) utilizando a biblioteca pandas do Python.

In [2]:
import pandas as pd
# Erro do certificado
df = pd.read_csv('https://dadosabertos.ibama.gov.br/dados/SINAFLOR/exploracaoFlorestaPlantada.csv')

ParserError: Error tokenizing data. C error: Expected 5 fields in line 15, saw 10

In [3]:
df = pd.read_csv('C:/Users/pedro/Documents/GitHub/AULA-5/exploracaoFlorestaPlantada.csv', 
                 delimiter=';')
df.head()

,UF,MUNICÍPIO,NOME DETENTOR,CPF/CNPJ DETENTOR,IMÓVEL RURAL VINCULADO,Nº CAR IMÓVEL RURAL,NOME EMPREENDIMENTO VINC,LATITUDE PONTO CENTR EMPREEND,LONGITUDE PONTO CENTR EMPREEND,ATIVIDADE,...,ERRO PADRÃO EXTRATO,INTERVALO CONFIANÇA EXTRATO,CRONOGRAMA EXPLOR ATIVIDADE,CRONOGRAMA EXPLORACAO MÊS/ANO,VOL EXPLORAR PRODUTO FLORESTAL,VOL EXPLORAR UNID MEDIDA,VOL EXPLORAR INI EXPLORAÇÃO,VOL EXPLORAR PERÍODO,VOL EXPLORAR VOLUME,ÚLTIMA ATUALIZAÇÃO RELATÓRIO
0,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,11/2021,NaN,"23,0",05/09/2022 19:02
1,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,11/2021,NaN,"40,0",05/09/2022 19:02
2,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,2/2021,NaN,"23,0",05/09/2022 19:02
3,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,2/2021,NaN,"40,0",05/09/2022 19:02
4,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,5/2021,NaN,"23,0",05/09/2022 19:02

**Questão 2 -** Consultar as informações básicas do dataset carregado acima da **Exploração de Floresta Plantada**, conforme lista abaixo:
*   Quantidade de registros
*   Quantidade de colunas
*   Listar as colunas dos dados
*   Exibir as principais informações do conjunto de dados
*   Listar as colunas com dados vazios

In [4]:
df.shape

(4377, 75)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4377 entries, 0 to 4376
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UF                              4377 non-null   object
 1   MUNICÍPIO                       4373 non-null   object
 2   NOME DETENTOR                   4372 non-null   object
 3   CPF/CNPJ DETENTOR               4367 non-null   object
 4   IMÓVEL RURAL VINCULADO          4377 non-null   object
 5   Nº CAR IMÓVEL RURAL             4367 non-null   object
 6   NOME EMPREENDIMENTO VINC        4377 non-null   object
 7   LATITUDE PONTO CENTR EMPREEND   0 non-null      float64
 8   LONGITUDE PONTO CENTR EMPREEND  0 non-null      float64
 9   ATIVIDADE                       4377 non-null   object
 10  TIPO DE EMPREENDIMENTO          4311 non-null   object
 11  Nº CONSELHO DE CLASSE RT        2801 non-null   object
 12  ATIVIDADE RT                    2801 non-null   object
 13  DATA DE CADASTRO                4377 non-null   object
 14  SITUAÇÃO DA SOLICITAÇÃO EXPLOR  4377 non-null   object
 15  DATA DA SITUAÇÃO                4377 non-null   object
 16  COMPETÊNCIA DA AVALIAÇÃO        4371 non-null   object
 17  ÓRGÃO AMBIENTAL RESP ANÁLISE    4367 non-null   object
 18  Nº PROCESSO                     1531 non-null   object
 19  Nº PROTOCOLO                    977 non-null    object
 20  NOME CIENTÍFICO                 360 non-null    object
 21  NOME POPULAR                    345 non-null    object
 22  ÁREA EFETIVO PLANTIO            360 non-null    object
 23  ESPAÇAMENTO                     360 non-null    object
 24  TOTAL ÁRVORES                   360 non-null    object
 25  VOLUME                          360 non-null    object
 26  UNIDADE MEDIDA                  360 non-null    float64
 27  ANO CORTE                       360 non-null    float64
 28  OBSERVAÇÃO DADOS ATIVIDADE      160 non-null    object
 29  OPERAÇÕES EFETUADAS             548 non-null    object
 30  MÊS/ANO                         548 non-null    object
 31  OBSERV TRATOS SILVICULTURAIS    217 non-null    object
 32  DESBATE REALIZADO               4353 non-null   object
 33  NÚMERO DESBASTE                 343 non-null    object
 34  DESBATE COMUNICADO              4353 non-null   object
 35  DESBASTE INTENSIDADE            308 non-null    object
 36  PORCENTAGEM DO DESBASTE %       308 non-null    object
 37  OBSERVAÇÃO DESBASTE             1863 non-null   object
 38  EQUAÇÃO VOLUME                  4355 non-null   object
 39  PROCESSO AMOSTRAGEM             4363 non-null   object
 40  TIPO INVENTÁRIO                 4057 non-null   object
 41  NÍVEL PROBABILIDADE             3966 non-null   object
 42  FORMA PARCELA                   4014 non-null   float64
 43  ÁREA TOTAL PROJ                 4262 non-null   object
 44  ÁREA AMOSTRA                    3882 non-null   object
 45  PRODUTO FLORESTAL               2670 non-null   object
 46  NOME CIENTÍFICO PF              2208 non-null   object
 47  NOME POPULAR PF                 2028 non-null   object
 48  VOLUME(M³/ha)                   157 non-null    object
 49  AMOSTRAS LEVANTADAS             0 non-null      float64
 50  TOTAL PARCELAS                  0 non-null      float64
 51  ÁREA INVENTARIADA               0 non-null      float64
 52  MÉDIA                           157 non-null    object
 53  MÉDIA HECTARES                  157 non-null    object
 54  DESVIO PADRÃO                   157 non-null    object
 55  VARIÂNCIA MÉDIA                 157 non-null    object
 56  ERRO PADRÃO                     157 non-null    object
 57  COEFICIENTE VARIACAO            157 non-null    object
 58  VARIÂNCIA MÉDIA REL             157 non-null    object
 59  INTERVALO CONFIANÇA             157 non-null    object
 60  Nº EXTRATO                      0 non-null      float64
 61  TOTAL UNIDADES                  1704 non-null   object
 62  VOL MÉDIO EXTRATO               311 non-null    object
 63  VOL MÉDIO EXTRATIFICADA         311 non-null    object
 64  VARIÂNCIA EXTRATO               311 non-null    object
 65  ERRO PADRÃO EXTRATO             311 non-null    object
 66  INTERVALO CONFIANÇA EXTRATO     311 non-null    object
 67  CRONOGRAMA EXPLOR ATIVIDADE     1343 non-null   object
 68  CRONOGRAMA EXPLORACAO MÊS/ANO   3761 non-null   object
 69  VOL EXPLORAR PRODUTO FLORESTAL  3761 non-null   object
 70  VOL EXPLORAR UNID MEDIDA        0 non-null      float64
 71  VOL EXPLORAR INI EXPLORAÇÃO     3741 non-null   object
 72  VOL EXPLORAR PERÍODO            0 non-null      float64
 73  VOL EXPLORAR VOLUME             3741 non-null   object
 74  ÚLTIMA ATUALIZAÇÃO RELATÓRIO    4357 non-null   object
dtypes: float64(11), object(64)
memory usage: 2.5+ MB

In [6]:
df.isnull().sum()

UF                                 0
MUNICÍPIO                          4
NOME DETENTOR                      5
CPF/CNPJ DETENTOR                 10
IMÓVEL RURAL VINCULADO             0
                                ...
VOL EXPLORAR UNID MEDIDA        4377
VOL EXPLORAR INI EXPLORAÇÃO      636
VOL EXPLORAR PERÍODO            4377
VOL EXPLORAR VOLUME              636
ÚLTIMA ATUALIZAÇÃO RELATÓRIO      20
Length: 75, dtype: int64

In [7]:
df.isnull().sum().keys()

Index(['UF', 'MUNICÍPIO', 'NOME DETENTOR', 'CPF/CNPJ DETENTOR',
       'IMÓVEL RURAL VINCULADO', 'Nº CAR IMÓVEL RURAL',
       'NOME EMPREENDIMENTO VINC', 'LATITUDE PONTO CENTR EMPREEND',
       'LONGITUDE PONTO CENTR EMPREEND', 'ATIVIDADE', 'TIPO DE EMPREENDIMENTO',
       'Nº CONSELHO DE CLASSE RT', 'ATIVIDADE RT', 'DATA DE CADASTRO',
       'SITUAÇÃO DA SOLICITAÇÃO EXPLOR', 'DATA DA SITUAÇÃO',
       'COMPETÊNCIA DA AVALIAÇÃO', 'ÓRGÃO AMBIENTAL RESP ANÁLISE',
       'Nº PROCESSO', 'Nº PROTOCOLO', 'NOME CIENTÍFICO', 'NOME POPULAR',
       'ÁREA EFETIVO PLANTIO', 'ESPAÇAMENTO', 'TOTAL ÁRVORES', 'VOLUME',
       'UNIDADE MEDIDA', 'ANO CORTE', 'OBSERVAÇÃO DADOS ATIVIDADE',
       'OPERAÇÕES EFETUADAS', 'MÊS/ANO', 'OBSERV TRATOS SILVICULTURAIS',
       'DESBATE REALIZADO', 'NÚMERO DESBASTE', 'DESBATE COMUNICADO',
       'DESBASTE INTENSIDADE', 'PORCENTAGEM DO DESBASTE %',
       'OBSERVAÇÃO DESBASTE', 'EQUAÇÃO VOLUME', 'PROCESSO AMOSTRAGEM',
       'TIPO INVENTÁRIO', 'NÍVEL PROBABILIDADE', 'FORMA PARCELA',
       'ÁREA TOTAL PROJ', 'ÁREA AMOSTRA', 'PRODUTO FLORESTAL',
       'NOME CIENTÍFICO PF', 'NOME POPULAR PF', 'VOLUME(M³/ha)',
       'AMOSTRAS LEVANTADAS', 'TOTAL PARCELAS', 'ÁREA INVENTARIADA', 'MÉDIA',
       'MÉDIA HECTARES', 'DESVIO PADRÃO', 'VARIÂNCIA MÉDIA', 'ERRO PADRÃO',
       'COEFICIENTE VARIACAO', 'VARIÂNCIA MÉDIA REL', 'INTERVALO CONFIANÇA',
       'Nº EXTRATO', 'TOTAL UNIDADES', 'VOL MÉDIO EXTRATO',
       'VOL MÉDIO EXTRATIFICADA', 'VARIÂNCIA EXTRATO', 'ERRO PADRÃO EXTRATO',
       'INTERVALO CONFIANÇA EXTRATO', 'CRONOGRAMA EXPLOR ATIVIDADE',
       'CRONOGRAMA EXPLORACAO MÊS/ANO', 'VOL EXPLORAR PRODUTO FLORESTAL',
       'VOL EXPLORAR UNID MEDIDA', 'VOL EXPLORAR INI EXPLORAÇÃO',
       'VOL EXPLORAR PERÍODO', 'VOL EXPLORAR VOLUME',
       'ÚLTIMA ATUALIZAÇÃO RELATÓRIO'],
      dtype='object')

In [8]:
df.isnull().sum().values

array([   0,    4,    5,   10,    0,   10,    0, 4377, 4377,    0,   66,
       1576, 1576,    0,    0,    0,    6,   10, 2846, 3400, 4017, 4032,
       4017, 4017, 4017, 4017, 4017, 4017, 4217, 3829, 3829, 4160,   24,
       4034,   24, 4069, 4069, 2514,   22,   14,  320,  411,  363,  115,
        495, 1707, 2169, 2349, 4220, 4377, 4377, 4377, 4220, 4220, 4220,
       4220, 4220, 4220, 4220, 4220, 4377, 2673, 4066, 4066, 4066, 4066,
       4066, 3034,  616,  616, 4377,  636, 4377,  636,   20], dtype=int64)

In [9]:
df.isnull().sum()[df.isnull().sum()>0]

MUNICÍPIO                           4
NOME DETENTOR                       5
CPF/CNPJ DETENTOR                  10
Nº CAR IMÓVEL RURAL                10
LATITUDE PONTO CENTR EMPREEND    4377
                                 ...
VOL EXPLORAR UNID MEDIDA         4377
VOL EXPLORAR INI EXPLORAÇÃO       636
VOL EXPLORAR PERÍODO             4377
VOL EXPLORAR VOLUME               636
ÚLTIMA ATUALIZAÇÃO RELATÓRIO       20
Length: 68, dtype: int64

**Questão 3 -** Listar os estados presentes no dataset carregado acima da **Exploração de Floresta Plantada**.

In [10]:
df['UF'].unique()

array(['AC', 'AM', 'MA', 'MG', 'PR',
       '81,99 m² de toras e 30,74 mst de lenha.', 'RJ', 'RO',
       'CONSORCIADO COM PLANTAÇÃO DE CAFÉ, EM ÁREA DE USO MULTIPLO DO SOLO (ÁREA CONSOLIDADA).',
       'RS', 'SC', 'SP', 'TO'], dtype=object)

**Questão 4 -** Criar um diretório no GitHub com o notebook utilizado na aula e enviar o link do diretório publico.